.forget_head{
    font-family: var( --ion-font-text);
    margin-top: 220px;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 0px;
}

.forget_sub{
    font-family: var( --ion-font-text);
    font-weight: 400;
    font-size: 14px;
   
}

.input-text {
    margin-top: 60px;
}

.forget_label {
    font-weight: 400;
    font-size: 12px;
    color: var(--ion-color-primary);
    margin-bottom: 0px;
}

.forget_btn {
   
    width: 149px;;
    height: 45px;
    display: flex;
    margin: auto;
    margin-top: 46px;
    --background: #57855E;
    color: var(  --ion-color-primary-contrast);
    border-radius: 50px;
}

.forget_input {
    width: 300px;
    height: 45px;
    background: #D9D9D9;
    border-radius: 10px;
    align-items: start;
    padding-top: 15px;
    font-weight: 400;
    font-size: 16px;
    color: #ABABAB;
    margin-bottom: 10px;


}